.react-grid-item>.react-resizable-handle::after {
    width: 10px;
    height: 10px;
    
    border-radius: 50%;
    border: 2px solid hsl(var(--primary));
}

.react-grid-item.react-grid-placeholder {
    background: #2D4FE6;
    opacity: 0.05;
    border-radius: 6px;
    /* border: 1px dashed hsl(var(--primary)); */
}

.writing-mode-vertical {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}