version: '3.4'

services:
  redis:
    container_name: redis
    image: redis:7.0.4
    ports:
      - "6379:6379"
    volumes:
      - ${DOCKER_VOLUME_DIRECTORY:-.}/redis/data:/data
      - ${DOCKER_VOLUME_DIRECTORY:-.}/redis/redis.conf:/etc/redis.conf
    command: redis-server /etc/redis.conf

  mysql:
    image: mysql:8.0
    environment:
      - "MYSQL_ROOT_PASSWORD=1234"  # 数据库密码，建议修改，如果修改需要同步修改bisheng/congfig/config.yaml配置
      - "MYSQL_DATABASE=bisheng"
      - "TZ=Asia/Shanghai"
    ports:
      - "3306:3306"
    volumes:
      - ${DOCKER_VOLUME_DIRECTORY:-.}/mysql/conf/my.cnf:/etc/mysql/my.cnf
      - ${DOCKER_VOLUME_DIRECTORY:-.}/mysql/data:/var/lib/mysql

  office:
    image: onlyoffice/documentserver:7.1.1
    ports:
      - "8701:80"
    volumes:
      - ${DOCKER_VOLUME_DIRECTORY:-.}/office/bisheng:/var/www/onlyoffice/documentserver/sdkjs-plugins/bisheng
      
  backend:
    image: dataelement/bisheng-backend:latest
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:7860/health"]
      interval: 1m30s
      timeout: 30s
      retries: 3
      start_period: 30s
    volumes:
      - ${DOCKER_VOLUME_DIRECTORY:-.}/bisheng/config/config.yaml:/app/bisheng/config.yaml
      - ${DOCKER_VOLUME_DIRECTORY:-.}/bisheng/data/:/app/data/
    ports:
      - "7860:7860"
    security_opt:
      - seccomp:unconfined
    command: bash -c "uvicorn bisheng.main:app --host 0.0.0.0 --port 7860 --no-access-log --workers 2" # --workers 表示使用几个进程，提高并发度
    restart: on-failure
    depends_on:
      - "mysql"
      - "office"
      - "redis"

  nginx:
    image: dataelement/bisheng-frontend:latest
    ports:
      - "3001:3001"
    volumes:
      - ${DOCKER_VOLUME_DIRECTORY:-.}/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ${DOCKER_VOLUME_DIRECTORY:-.}/nginx/conf.d:/etc/nginx/conf.d