[client]
default-character-set=utf8mb4

[mysql]
default_character_set          = utf8mb4

[mysqld]
default_storage_engine         = InnoDB
character_set_server           = utf8mb4
collation-server               = utf8mb4_unicode_ci

datadir                        = /var/lib/mysql/var
lower_case_table_names         = 1
wait_timeout                   = 3600
interactive_timeout            = 3600
performance_schema             = ON

log_bin                        = /var/lib/mysql/mysql-bin
log_bin_index                  = /var/lib/mysql/mysql-bin.index
expire_logs_days               = 14
max_binlog_size                = 1G
binlog_format                  = ROW
binlog_cache_size              = 16M
sync_binlog                    = 0

log_error                      = /var/log/mysql.err
general_log                    = 0
general_log_file               = /var/log/mysql.log

slow_query_log                 = 1
long_query_time                = 0.1
log_queries_not_using_indexes  = 1
slow_query_log_file            = /var/log/mysql-slow.log

init_connect='SET collation_connection = utf8mb4_unicode_ci, NAMES utf8mb4'
# skip-character-set-client-handshake
sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION